
/*

!.gitignore
!.zshrc
!.vimrc
!tmux.conf
!.tmux.conf
!README.md

!/.termux
/.termux/*
!/.termux/font.ttf
!/.termux/termux.properties

!/.vim
/.vim/*
!/.vim/snipets

!/.config
/.config/*
!/.config/nvim
!/.config/ranger

!/.emacs.d
/.emacs.d/*
!/.emacs.d/Emacs.org

!/backup




